.featuresH{
  font-size: 18px;
}
.featuresTitle{
  font-size: 28px;
  line-height: 38px;
  padding-top: 20px;
  color: #444444;
}
#titleEEA{
  padding-top: 20px;
}
#products{
  padding-top: 20px;
}
@media query  {

}
.features{
margin: 0;
}
